@import "tailwindcss";

/* @tailwind utilities; */

@layer base {
  html {
    @apply font-sans antialiased;
  }
}

#root {
  @apply flex min-h-screen bg-gradient-to-r from-indigo-500 to-teal-400;

}

button, a {
  @apply cursor-pointer transition-all;
}

button{
  @apply hover:-translate-y-0.5 hover:shadow-md;
}

/* .primary-btn {
  @apply bg-indigo-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;

} */

/* @keyframes auto-desplazing-names {
  0% {
    transform: translateY(calc(0% + 10vh));
  }
  100% {
    transform: translateY(calc(-100% + 90vh));
  }
} */
@keyframes auto-desplazing-names {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.4);
  }
}

@keyframes rotBGimg {
  0% {
    transform: rotate(0deg);
    top: -75%;
    left: -15%;
  }

  25% {
    transform: rotate(60deg);
    top: -75%;
    left: 75%;
  }

  50% {
    transform: rotate(90deg);
    left: 75%;
    top: 75%;
  }

  75% {
    transform: rotate(170deg);
    left: -25%;
    top: 75%;
  }

  100% {
    top: -75%;
    left: -15%;
    transform: rotate(360deg);
  }
}

.winner-name-card::before {
  @apply absolute w-1/2 bg-gradient-to-r from-fuchsia-500 to-blue-600 transition-all duration-200 h-full rounded-2xl ;
  content: ''; 
  animation: rotBGimg 3s linear infinite;
  z-index: -1;
}

.winner-name-card::after {
  @apply absolute inset-1 rounded-[inherit] bg-gray-800 -z-1;
  content: '';
}



/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */