:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.card {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.start-button {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  font-weight: 800;
}

input {
  border: none !important;
}

body {
  overflow-x: hidden;
  background-image: url('./assets/bg.jpg');
  position: relative;
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

.radius-top-0 {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.bg-header {
  background-image: url('./assets/sorteo.png');
  width: 100vw;
  height: 300px;
  top: 0px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  margin-bottom: 20px;

  animation-duration: 0.5s;
  animation-name: headeranimate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-footer {
  background-image: url('./assets/monedas.png');
  width: 100vw;
  height: 200px;
  position: absolute;
  bottom: 0px;
  background-repeat: repeat-x;
  background-position-x: center;
  /* background-size: contain; */
  background-position-y: 0;
  overflow: hidden;
}

.bg-footer::after {
  content: " ";
  background-image: url('./assets/monedas.png');
  width: 100vw;
  height: 200px;
  position: absolute;
  bottom: -70px;
  background-repeat: repeat-x;
  /* background-size: contain; */
  background-position-y: 30px;
  background-position-x: -20%;
}

.main-game {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  border: 5px solid white;
}

.container {
  z-index: 1;
  position: relative;
}

.animate-top {

  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.19);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  padding-left: 10px;
  top: 0%;
  animation-duration: calc((250 / 5) * 1s + 2s);
  animation-name: animate_top1;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  padding-top: 300px;
  padding-bottom: 250px;
}

.animate-top>div {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 10px;
}

.animate-top>div>p {
  font-size: 15px;
  font-weight: 400;
}

@keyframes headeranimate {
  0% {
    filter: none;
  }

  100% {
    filter: hue-rotate(45deg);
  }
}


@keyframes animate_top1 {
  0% {
    /* bottom: unset; */
    transform: translateY(-92%);
  }

  /* 50% {
      top: unset;
      bottom: 0%;
    } */
  100% {
    /* top: ; */
    /* bottom: -100%; */
    transform: translateY(0%);
  }
}

/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */